@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Twinkle+Star&display=swap');

/* * {
  border: 1px solid red;
} */

.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}
.inclusive-sans, p {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inclusive-sans-bold {
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.app-title{
  font-size: 5rem;
  color: #41291d;
   
  /* color: #ccbdae; */
  /* color: rgb(204, 189, 174);  */

  filter: drop-shadow(2px 2px 2px rgb(20, 12, 8));
}

.app-subtitle{
  color: rgb(1, 16, 63);
}

.page-title{
  font-family: "Twinkle Star", cursive;
  font-size: 4rem;
  color: rgb(1, 16, 63);
  filter: drop-shadow(2px 2px 2px rgb(20, 12, 8));
}

.book-card{
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
} 

.book-title{
  height: 5rem;
}

.book-description{
  padding-top: 1rem;
  height:250px;
}

.icons{
  fill: rgb(1, 16, 63);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.delete-btn,
.edit-btn {
  background: none;
  border: none;
  padding: 0;
}

.done-btn,
.add-btn {
  background-color: rgb(1, 16, 63);
}