:root {
  
  
}


body {
  margin: 0;
}

#root {
  max-width: 100%;
  height:auto;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  background: linear-gradient(180deg, #cac3bc 65%, #816451 100%);
  position:relative;
  overflow: hidden;
  top: 0%;
  background-image: url("../public/lectora-wallpaper.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(0%);
  
  
}
